.copy_right_footer{
    position:fixed;
    bottom:0;
    width:100%;
    text-align:center;
}
h1{
    font-family:'Times New Roman', Times, serif;
    font-style:italic;
    font-weight: 200;
}
h4{
    color: crimson;
}
#camera{
    height:400px;
    width:500px;
}
img{
    border-radius:4px;
    padding: 10px;
    width:30px;
    box-shadow: 0 6px 8px 0 rgba(2, 2, 2, 0.2);
}
img:hover{
    border-radius:140px;
}